//- gif-queue.tree
//-   gif-no-loop.tree-img(src="images/arbol.gif" sound="sounds/ramas.mp3" order="0")
//-   a.tree-neuron(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
//-     gif-no-loop.tree-neuron(src="images/bola_amarilla.gif" order="1" sound="sounds/nodo.mp3")

.tree
  .tree-img
    img(src="images/tree/tronco-bebe.png")
    img.tronco-root(src="images/tree/level-1/tronco.png"
      ng-if="treeVm.neurons.root.state === 'florecida'")
  .tree-neuron-root(class="{{treeVm.neurons.root.state}} neuron")
    a(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
