.tree.fourth-level
  .tree-img
    img(src="images/tree/arbol-cuarto-gris.png")
  .tree-neuron-root.neuron(class="{{treeVm.neurons.root.state}} neuron")
    a(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
  .tree-neuron-root(ng-repeat="child in treeVm.neurons.root.children track by $index" 
                    class="second-level-{{$index}} {{child.state}} neuron")
    a(ui-sref="neuron({neuronId: child.id})")
    // TODO a better way to calculate classes
    .tree-neuron-root(ng-repeat="child1 in child.children track by $index" 
                      class="third-level-{{$parent.$index*2 + $index}} {{child.state}} neuron")
      a(ui-sref="neuron({neuronId: child1.id})")
      .tree-neuron-root(ng-repeat="child2 in child1.children track by $index" 
                        class="fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}} {{child.state}} neuron")
        a(ui-sref="neuron({neuronId: child2.id})")
