//- gif-queue.tree.tree-second-level
//-   gif-no-loop.tree-img(src="images/arbol2.gif" sound="sounds/ramas.mp3" order="0" width="400")
//-   a.tree-neuron(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
//-     gif-no-loop.tree-neuron(src="images/bola_amarilla.gif" order="1" sound="sounds/nodo.mp3")
//-   .tree-nueron(ng-repeat="child in treeVm.neurons.root.children track by $index")
//-     a.tree-neuron(ui-sref="neuron({neuronId: child.id})")
//-       gif-no-loop(class="tree-neuron-{{$index}}" src="images/bola_amarilla.gif" order="1")

.tree.second-level
  .tree-img
    img(src="images/tree/arbol-segundo-gris.png")
  .tree-neuron-root.neuron
    a(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
      img(src="images/tree/nodo-gris.png")
  .tree-neuron-root(ng-repeat="child in treeVm.neurons.root.children track by $index" class="second-level-{{$index}} neuron")
    a(ui-sref="neuron({neuronId: child.id})")
      img(src="images/tree/nodo-gris.png")
