ion-view.frame-all-buttons.profile(view-title='{{vm.neuron.title}}')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true" volume="0.2")
    back-button.arrow.back-arrow
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame.profile-user
      .frame-container
        .profile-wrapper
          .header-wrapper.row
            .col-80.row
              .user-image.col-10
                img(src="images/user.png")
              .user-name.col
                {{vmProfile.user.name}}
            .btns.col-20
              .btn-profile(ng-if="vmProfile.isCurrentUser" ui-sref="profileEdit")
                {{ ::'buttons.edit-profile' | translate }}
          .content-wrapper.row
            .more-details.col-50
              .user-description.row
                .col-75
                  .title
                    | Logros
                  .info(ng-repeat="award in vmProfile.awards"
                              ng-click="vmProfile.changeTab('awards')")
                    span.award(ng-if="award.category==='content_all'")
                      | {{award.label}}: {{award.meta.current_contents_learnt}}/{{award.meta.total_contents}}
                    span(ng-if="award.category==='test'")
                      | {{award.label}}: {{award.meta.current_tests_ok}}/{{award.meta.needs_tests_ok}}
                .btn-wrapper.col-30
                  .btn-add-friend(ng-if="!vmProfile.isCurrentUser")
                    .title {{ ::'buttons.add-friend' | translate }}
                    .plus-icon +
                  .btn-friends(ng-if="vmProfile.isCurrentUser" ui-sref="friends")
                    .title {{ ::'buttons.friends' | translate }}
                    img.friend-img(src="images/user.png")
              .user-feedback
                .tabs-options.row
                  .option.col-33(ng-repeat='tab in vmProfile.tabs'
                                ng-class="{'tab-selected': tab.selected }"
                                ng-click="vmProfile.changeTab(tab.field)")
                    span
                      | {{::tab.name}}
                .content-panel.row
                  .partial(ng-include="vmProfile.viewSelected")
            .tree-preview.col-50
              img.tree(src="{{vmProfile.user.tree_image}}")
              img.flowerpot(src="images/macetaH.png")
      moi-buttons(options="vmProfile.buttonsOptions")
      .btn-learn
  moi-sidebar
