.btn-learn {
  position: fixed;
  bottom: -1px;
  right: 4px;
  min-width: 10.5%;
  min-height: 15%;
  background-image: url(../images/btn-learn.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.btn-search {
  position: fixed;
  bottom: 6px;
  right: 46%;
  min-width: 10%;
  min-height: 10%;
  background-image: url(../images/btn-search.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.btn-learn-gif {
  position: fixed;
  bottom: -5px;
  right: 3px;
  cursor: pointer;

  .animate-sprite-wrapper{
    width: 135px;

    .img-animate {
      padding-bottom: 110px;

    }
  }
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn-search-gif {
  position: fixed;
  bottom: 1px;
  right: 597px;
  cursor: pointer;

  .animate-sprite-wrapper{
    width: 130px;

    .img-animate {
      padding-bottom: 80px;

    }
  }
}

.gif-click{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
