.btn-learn {
  position: fixed;
  bottom: -1px;
  right: 4px;
  min-width: 10.5%;
  min-height: 15%;
  background-image: url(../images/btn-learn.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.btn-learn-wrapper {
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn-learn-gif {
  position: fixed;
  bottom: 0;
  right: 3px;
  cursor: pointer;

  .btn-wrapper {
    position: relative;

    .idle {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn-show-tasks-gif {
  position: fixed;
  bottom: 0px;
  right: 740px;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  .notifications-badget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fd3d2d;
    border: 2px solid white;
    color: white;
    font-family: FontMoi-Title;
    font-weight: bold;
    font-family: FontMoi-Title;
  }
}

.btn-search-gif {
  position: fixed;
  bottom: 7px;
  right: 606px;
  bottom: 7px;
  right: 606px;
  cursor: pointer;

  .btn-wrapper {
    position: relative;

    .idle {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.btn-share-gif {
  position: fixed;
  bottom: 20px;
  right: 303px;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn-save-tasks-gif {
  position: fixed;
  bottom: 18px;
  right: 372px;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn-recomendation-gif {
  position: fixed;
  bottom: 11px;
  right: 480px;
  cursor: pointer;

  .btn-wrapper {
    position: relative;

    .idle {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
