$primary: white;
$secondary: #005faf;
$tertiary: #01aff1;
$buttonColor: white;
$moiDarkGreen: #4A4B21;
$errorMsg: #cc0000;
$black: #000;
$borderContent: #112B1B;
$azul: #2F9CC8;
$scroll-color: rgb(0, 67, 126);
