.tree-percentage {
  position: absolute;
  top: 8%;
  right: 7%;
  -webkit-animation-iteration-count: 4;

  .percentage-container {
    position: relative;
    width: 120px;

    .percentage-progress-bar {
      z-index: -1;
      position: relative;
      background: #c9cea5;
      top: 10px;
      left: 4px;
      width: 75px;
      height: 27px;

      .label {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $moiDarkGreen;
        font-family: FontMoi-Title;
        font-weight: bold;
        font-size: 12px;
        white-space: nowrap;
      }

      .percentage-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: 0;
        padding: 0;
        background-color: #40c8b3
      }

    }

    .widget {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

}

.level-user {
  position: absolute;
  bottom: 10%;
  left: 6%;
  height: 32%;
  width: 8.5%;
  -webkit-animation-iteration-count: 4;

  .level-user-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .level-container {
      position: relative;
      height: 100%;
      z-index: 1;

      .level-progress-bar {
        z-index: -1;
        position: relative;
        background: #c9cea5;
        height: 180px;
        width: 80px;
        -webkit-mask-image: url(../images/internal-bar.png);
        mask-image: url(../images/internal-bar.png);
        -webkit-mask-size: 38px 155px;
        mask-size: 38px 155px;
        -webkit-mask-position: center center;
        mask-position: center center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;

        .level-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%;
          z-index: 0;
          padding: 0;
          background-color: #40c8b3
        }
      }
    }

    .widget {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .counter-container {
      position: absolute;
      top: -30px;
      right: 0px;
      -webkit-animation-iteration-count: 4;

      .counter{
        position: relative;
        display: block;
        span{
          position: absolute;
          top: 46%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .point {
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }
}
