$content-unselected-effect: 1px 1px 0px 0px $borderContent,
                            2px 2px 0px 0px $borderContent,
                            3px 3px 0px 0px $borderContent,
                            4px 4px 0px 0px $borderContent,
                            5px 5px 0px 0px $borderContent,
                            6px 6px 0px 0px $borderContent,
                            7px 7px 0px 0px $borderContent,
                            8px 8px 0px 0px $borderContent;

.content-kind {
  &:hover:hover:not(.content-selected) {
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
    box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    cursor: pointer;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.content-selected {
  &.border-default-theme {
    -webkit-box-shadow: $content-unselected-effect;
    -moz-box-shadow:  $content-unselected-effect;
    box-shadow: $content-unselected-effect;
    margin-top: -5px;
    transform: translateX(-5px);
  }
}

.content-unselected {
  &.moi_theme {
    &:after{
      border-radius: 10px;
    }
  }
  &:after{
    content: '';
    background-color: $black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    left: 0;
  }
}

.content-in-grid {
  height: 50%;

  .relative {
    position: relative;
    width: 100%;
    height: 100%;
    &.moi_theme {
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      img {
        border-radius: 10px;
      }
    }
  }

  .overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .cover {
    height: 100%;
    width: 100%;
  }

  .approved {
    position: absolute;
    right: 2em;
    top: 1.5em;
    width: 6em;
    height: 7em;
    border-radius: 0 !important;
  }

  .favorite {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    bottom: 15px;
  }
}

.leyend-bottom, .leyend-bottom-grid {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 6px 25px;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  position: relative;
  &.moi_violeta {
    background: url(../images/themes/violeta/content_footer.png);
  }
  &.moi_azul {
    background: url(../images/themes/azul/content_footer.png);
  }
  &.moi_rojo {
    background: url(../images/themes/rojo/content_footer.png);
  }
  &.moi_amarillo {
    background: url(../images/themes/amarillo/content_footer.png);
  }
  &.moi_verde {
    background: url(../images/themes/verde/content_footer.png);
  }
}
.leyend-bottom{
  margin-top: -50px;
  font-size: 18px;
  font-weight: 200;
  font-family: fantasy;
}

.leyend-bottom-grid{
  margin-top: -95px;
  font-size: 35px;
  font-family: FontMoi-Content;
  font-weight: bold;
  padding-top: 6px;
  overflow: hidden;
  line-height: 40px;
  position: relative;
  &.moi_theme {
    font-family: FontMoi-Grid;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1000px) {
  .leyend-bottom-grid{
    font-size: 30px;
  }
}

@media (max-width: 950px) {
  .leyend-bottom-grid{
    font-size: 28px;
  }
}

@media (max-width: 850px) {
  .leyend-bottom-grid{
    font-size: 26px;
  }
}

grid-contents{
  .content-in-grid:first-child{
    .col{
      -webkit-flex: 0 0 50%;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      position: relative;
    }
  }
  .content-in-grid{
    .col{
      -webkit-flex: 0 0 33%;
      -moz-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      padding: 10px;
      position: relative;
    }
  }
  .border-moi-theme {
    border: 2px solid;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 94%;
    width: 97.6%;
    border-radius: 10px;
    &.moi_violeta {
      border-color: $violeta;
    }
    &.moi_azul{
      border-color: $azul;
    }
    &.moi_rojo{
      border-color: $rojo;
    }
    &.moi_amarillo{
      border-color: $amarillo;
    }
    &.moi_verde{
      border-color: $verde;
    }
  }
}
