.content-kind {
  &:hover:hover:not(.content-selected) {
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
    box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    cursor: pointer;
  }
  img {
    object-fit: cover;
    width: 100%;
  }
}

.content-selected {
  -webkit-box-shadow: 1px 1px 5px 2px rgba(204,204,204,1);
  -moz-box-shadow: 1px 1px 5px 2px rgba(204,204,204,1);
  box-shadow: 1px 1px 5px 2px rgba(244,252,184,1);
}

.content-unselected {
  opacity: 0.8;
}

.content-in-grid{
  height: 50%;
}

.img-content-1{
  height: 295px;
  vertical-align: middle;
}

.leyend-bottom{
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 6px 25px;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  margin-top: -50px;
  height: 50px;
  position: relative;
  font-size: 18px;
  font-weight: 200;
  font-family: fantasy;
}
