.search-view-max {
  background-color: rgba(0, 0, 0, 0);
  .main-search-view {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(../images/frame-searches.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .arrow{
    top: 3%;
    left: 35px;
  }
  .flecha-sidebar {
    top: 45%;
  }
  .content-kind-contents {
    img {
      object-fit: cover;
      width: 100%;
      height: 90px;
    }
  }
  .format-image {
    height: 240px;
    width: 100%;
    box-shadow: 2px 5px 2px 1px $titlesColor;
  }
}

.search-view-max{
  background-color: rgba(0, 0, 0, 0);

  .flecha-sidebar {
    top: 45%;
  }
  .main-search-view {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(../images/frame-searches.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.content-searches {
  background-size: 100% 83%;
  form {
    position: absolute;
    right: 70px;
    top: 35px;
    width: 400px;

    label.item-input {
      background-image: url(../images/busqueda_bar.png);
      @include background-size(contain);
      background-position: left center;
      background-repeat: no-repeat;
      height: 60px;
      padding-left: 25px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  .list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list, label {
    background-color: transparent;
    border: 0;
  }

  .button {
    background-image: url(../images/telescopio.png);
    position: absolute;
    top: 5px;
    z-index: 2;
    right: 15px;
  }

  .result-searches {
    position: absolute;
    width: 92%;
    top: 100px;
    left: 35px;
  }
  .result-contents{
    flex-wrap: wrap;
  }
  .pagination-moi{
    position: absolute;
    left: 50%;
    bottom: 10%;
  }
}
