drawer(side="left")
  .sidebar-menu
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_2.png")
    .settings-amigos
      img(src="images/amigh.png")
    .settings-rueda(ng-click="vmSidebar.initAnimation()")
      gif-queue(ng-if="vmSidebar.showGif")
        gif-no-loop.rueda(src="images/btn_settings.gif" 
                          sound="sounds/btn_settings.mp3" 
                          order="0" 
                          callback="vmSidebar.finishedAnimation()")
    .settings-tutor
      img(src="images/tutorh.png")
    .settings-inventario
      img(src="images/inventarioh.png")
    .settings-arbol(ui-sref="tree")
      img(src="images/arbolito_despH.png")
