drawer(side="left")
  .sidebar-menu
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_2.png")
    .settings-amigos
      animate-sprite.boton(options="vm.profileOptions")
    .settings-rueda
      animate-sprite.rueda(options="vm.settingOptions")
    .settings-tutor
      img(src="images/tutorh.png")
    .settings-inventario
      img(src="images/inventarioh.png")
    .settings-arbol.view-tree(ng-if="vm.user.tree_image")
      img.tree(src="{{vm.user.tree_image}}")
    .settings-img-background(ng-if="vm.user.tree_image" ui-sref="tree")
    .settings-arbol(ng-if="!vm.user.tree_image" ui-sref="tree")
      img(src="images/arbolito_despH.png")
