ion-view(view-title='TreeMoi')
  ion-content
    moi-sound(sound="sounds/fondo.mp3" auto-play="true")
    .app-content
      .arrow.back-arrow(sound-button
                        image-url="images/back-arrow.png"
                        action-button="treeModel.callbackBackButton()")
      .clouds-container
        .cloud.animated.slideInLeft
          img(src="images/nube1L.png")
        .cloud.animated.slideInRight
          img(src="images/nube2L.png")
        .cloud.animated.slideInLeft
          img(src="images/nube3L.png")
      .tree-content
        figure.flowerpot
          img.flowerpot-img(src="images/macetaH.png", alt="maceta - tree moi")
        gif-queue.tree
          gif-no-loop.tree-img(src="images/arbol.gif" sound="sounds/ramas.mp3" order="0")
          a.tree-neuron(ui-sref="neuron({neuronId: treeModel.rootId})")
            gif-no-loop.tree-neuron(src="images/bola_amarilla.gif" order="1" sound="sounds/nodo.mp3")
