ion-view(view-title='TreeMoi')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  .app-content
    a.arrow.back-arrow(href="/#/login")
      img(src="../images/back-arrow.png")
    .tree-content
      figure.flowerpot
        img.flowerpot-img(src="../images/macetaH.png", alt="maceta - tree moi")
      .tree
        gif-no-loop.tree-img(path="vm.treePath")
        gif-no-loop.tree-neuron(path="vm.nodePath", clickeable="vm.contents()")
