ion-view.tree-view(view-title='TreeMoi')
  div(ng-if="treeModel.showTree")
    ion-content
      .app-content
        back-button.arrow.back-arrow
        .clouds-container
          .cloud.animated.slideInLeft
            img(src="images/nube1L.png")
          .cloud.animated.slideInRight
            img(src="images/nube2L.png")
          .cloud.animated.slideInLeft
            img(src="images/nube3L.png")
        .tree-content(ng-if="::treeModel.isBasicLevel")
          figure.flowerpot
            img.flowerpot-img#base-tree(src="images/macetaH.png", alt="maceta - tree moi")
          moi-tree(neurons="::treeModel.neurons" meta="::treeModel.meta")
        .tree-section(ng-if="::!treeModel.isBasicLevel")
          .tree-content
            figure.flowerpot
              img.flowerpot-img(src="images/macetaH.png", alt="maceta - tree moi")
          .tree-draw
            moi-tree(neurons="::treeModel.neurons" meta="::treeModel.meta")
      moi-frame(options="treeModel.frameOptions")
  .movies-container(ng-if="!treeModel.showTree")
    .container-loading
      .logo-loading
    moi-videos.vinetas(video-url="{{treeModel.urlVineta}}" video-type="video/mp4" callback="treeModel.finishedAnimation()")
