ion-view(view-title='TreeMoi')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  moi-sound(sound="../sounds/fondo.mp3" auto-play="true")
  .app-content
    a.arrow.back-arrow(href="/#/login")
      img(src="../images/back-arrow.png")
    .cointainer-cloud1.animated.slideInLeft
      img(src="../images/nube2L.png")
    .cointainer-cloud2.animated.slideInLeft
      img(src="../images/nube3L.png")
    .cointainer-cloud3.animated.slideInLeft
      img(src="../images/nube1L.png")
    .tree-content
      figure.flowerpot
        img.flowerpot-img(src="../images/macetaH.png", alt="maceta - tree moi")
      gif-queue.tree
        gif-no-loop.tree-img(src="../images/arbol.gif" sound="../../sounds/ramas.mp3" order="0")
        gif-no-loop.tree-neuron(src="../images/bola_amarilla.gif" sound="../../sounds/nodo.mp3" clickeable="vm.transitionToContent()" order="1")
