ion-view(view-title='TreeMoi')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  .content-tree
    gif-no-loop.img-neuron(path="vm.nodePath", clickeable="vm.contents()")
    gif-no-loop.img-tree(path="vm.treePath")
