.animate-sprite-wrapper(style="width:{{::vm.width}}" ng-click="vm.playAnimateSprite()")
  moi-sound(sound="{{::vm.options.sound}}", ng-if="::vm.options.sound", callback="vm.endSound()")
  .img-animate(ng-style="vm.css" style="padding-bottom:{{::vm.height}}")
