<?xml version='1.0' encoding='utf-8'?>
<widget id="com.GrowMoi.MoiFrontend" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>moi</name>
    <description>
        a hybrid client for the GrowMoi platform
    </description>
    <author email="info@growmoi.com" href="http://growmoi.com">
        GrowMoi
    </author>
    <content src="index.html" />
    <preference name="orientation" value="landscape"/>
    <access origin="*" />
    <allow-navigation href="*" />
</widget>
