#test-frame {
  .widgets {
    padding-top: 30px;
    padding-left: 10px;

    .progress-bar {
      width: 150px;
      height: 20px;
      border: 1px solid black;

      .internal-bar {
        background: #622A67;
        height: 100%;
        width: 0;
        position: relative;
        transition: 0.5s;
      }
    }
  }

  .test-container {
    background-image: url("../images/test-frame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 12%;
    height: auto;

    .main-image {
      img {
        padding-left: 10%;
        padding-top: 24%;
        max-width: 150px;
      }
    }

    .question {
      position: relative;
    }

    .test {
      padding: 20px;
      margin-bottom: 5px;

      h1 {
        color: #622A67;
        position: absolute;
        text-align: center;
        bottom: 100%;
        width: 100%;
      }

      .answer {
        background-image: url("../images/caja-no-select.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: auto;
        margin-bottom: 5px;
        padding-left: 20%;
        padding-right: 10%;
        padding-bottom: 10px;
        cursor: pointer;
        color: white;
        text-align: center;

        h4 {
          padding-top: 10px;
          color: white;
        }
      }

      .answer-selected {
        background-image: url("../images/caja-select.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .pista {
      display: flex;
      align-items: center;

      span {
        margin-left: 60px;
        background-image: url("../images/pista-test.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50px;
        width: 70%;
      }
    }
  }

  .controls {
    text-align: center;

    img {
      cursor: pointer;
    }

    img:hover {
      width: 50px;
      height: 50px;
    }
  }
}

.quiz-score {
  height: 95%;
  width: 95%;
  position: absolute;

  .frame-container {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/caja_M.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content{
      text-align: center;

      .result {
        .name {
          text-transform: uppercase;
          color: #4A4B21;
          font-size: 30px;
          font-weight: bold;
          font-family: FontMoi-Title;
        }

        .title {
          color: #7ECE56;
          font-weight: bold;
          font-family: FontMoi-Title;
        }

        .summary {
          font-weight: bold;
        }
      }
    }
  }
}
