ion-view.content-view-max(view-title='Content')
  ion-content
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .main-content-view
      .content-searches
      .btns-options
        .btn-learn(ng-click="vm.learn()")
  moi-sidebar
