.quiz-score {
  height: 95%;
  width: 95%;
  position: absolute;

  .frame-container {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/caja_M.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-height: 625px) {
  .quiz-score {
    height: 100%;
  }
}

@media (max-height: 725px){
  .modal-leaderboard {
    height: 90%;
  }
}

.summary-section {
  text-align: center;

  ion-pane {
    .modal-frame {
      width: 100%;
      padding: 20px;

      .main-content{
        width: 100%;
        overflow-y: hidden;
        height: 20rem;

        .result {
          .name {
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            font-weight: bold;
            font-family: FontMoi-Title;
          }

          .title {
            color: white;
            font-size: 30px;
            font-weight: bold;
            font-family: FontMoi-Title;
          }

          .summary {
            font-weight: bold;
            color: white;
          }
        }
      }

      .answers {
        color: white;
      }
      .content-final-test {
        height: 50%;
        width: 95%;
        overflow-y: auto;
      }
      @media (max-height: 725px) {
        .content-final-test {
          height: 38%;
        }
      }
      .content-final-test::-webkit-scrollbar-track {
        border-radius: 10px;
        border: 1px solid rgba(123, 121, 76, 0.62);
        width: 5px;
      }
      .content-final-test::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
        border-radius: 10px;
      }
      .content-final-test::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: rgba(123, 121, 76, 0.62);
      }
    }
  }
}
