.modal-tutor-achievement {

  .column-details{
    .controls {
      .btn-score {
        line-height: initial;
        min-height: auto;
      }
    }

    .points {
      padding-top: 0;
    }
  }
  .content-details {
    color: #EF2874;
    padding: 10px;
    font-weight: bold;
    line-height: 1.2;
    font-size: 1.4rem;
  }


}
