.transparent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  .modal-share-social {
    width: 500px;
    height: 350px;
    background-image: url(../images/cont_share_modal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .btn-close-modal {
      min-width: 5%;
      min-height: 12%;
      background-image: url(../images/btn_close_share_modal.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
