.transparent {
  background-color: transparent;
}
.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-image: url(../images/marco_modal.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .btn-close-modal {
    position: fixed;
    top: 0;
    right: 22px;
    min-width: 5%;
    min-height: 12%;
    background-image: url(../images/close_modal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
  }
  .content-image {
      width: 80%;
      height: 80%;
  }
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
