.transparent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  .modal-event-details {
    width: 25rem;
    height: 30rem;
    background-image: url(../images/events/eventDetails.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-close-modal {
      position: absolute;
      right: 18.5rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      background-image: url(../images/events/closeBtn.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }

    .event-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .event-image {
        width: 5rem;
        height: 5rem;
      }

      .event-description {
        text-align: justify;
      }

      .neurons-list {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .neuron {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: .2rem;
          position: relative;

          .neuron-title {
            font-weight: bold;
            font-size: 10px;
          }

          .neuron-image {
            width: 2rem;
            height: 2rem;
          }

          &:after{
            content: '';
            background-color: white;
            width: 2rem;
            height: .2rem;
            position: absolute;
            top: 2.2rem;
            right: -2.1rem;
          }

          &:last-child {

            &:after {
              content: none;
            }
          }
        }
      }
    }
  }
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }

  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
