.transparent {
  background: transparent !important;
}
.btn-close-modal {
  position: fixed;
  top: 0;
  right: 22px;
  min-width: 5%;
  min-height: 12%;
  background-image: url(../images/close_modal.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.modal-image {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: -1px;
  width: auto;
  height: auto;
  background-image: url(../images/marco_modal.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
