.register-view{
  background-image: url(../images/login/login-bg.png);
  width: 100vw !important;
  height: 100vh !important;
  form{
    right: 430px;
    bottom: 350px;
    width: 600px;
    .list-inset{
      display: flex;
      margin: 0;
      width: 100%;
      .item-input{
        width: 50%;
        margin: 0;
      }
    }
    .button{
      font-size: 20px;
      width: 200px;
    }
  }
}
