.register-view{
  background-image: url(../images/login/register-bg.png);
  background-position: bottom center;
  background-size: 110%;
  height: 100% !important;
  .form-container{
    display: flex;
  }
  form{
    right: 310px;
    bottom: 300px;
    width: 615px;
    .list-inset{
      display: flex;
      margin: 0;
      width: 100%;
      .item-input{
        width: 50%;
        margin: 0;
        height: 63px;
        flex-direction: column;
        display: block;
        input{
          margin-bottom: 7px;
          padding-top: 15px
        }
        .error-msg{
          font-size: 12px;
          font-style: italic;
          color: $errorMsg;
        }
      }
    }
    .button{
      font-size: 20px;
      width: 200px;
    }
  }
}
