.row(ng-repeat="(key, value) in vm.rowsGrid")
  .col(ng-class="value.class", ng-repeat="content in value.items")
    .content-kind(
          ng-click="vm.selectContent(content)",
          ng-class="content.isSelected ? 'content-selected' : 'content-unselected'")
      img(ng-src='{{content.media[0]}}')
      h2 {{content.title}}
