.row(ng-repeat="(key, value) in vm.rowsGrid")
  .col(ng-class="value.class", ng-repeat="content in value.items")
    .content-kind(
          ng-click="vm.selectContent(content)",
          ng-class="content.isSelected ? 'content-selected' : 'content-unselected'")
     img(src="../../../images/nebula.jpg").img-content-1()     	
     .leyend-bottom(){{content.title}}
