.tasks {
  background-color: transparent;

  .content-tasks {
    .frame-container {
      position: relative;
      background-repeat: no-repeat;
      background-image: url("../images/caja_M.png");
      background-size: 100% 100%;
    }
  }
}
