@import "shared/colors";

.tasks {
  background-color: transparent;

  .panel-tasks {
    height: 100%;
    width: 100%;
    background: #3b3b3c87;

    .frame-container {
      height: 90%;
      width: 100%;
      position: relative;
      padding: 3rem 2rem 6rem 3rem;

      .content-title {
        position: relative;
        color: $tertiary;
        font-size: 45px;
        font-weight: bold;
        font-family: FontMoi-Title;
        left: 10%;
        top: 10%;
      }

      .divider-line {
        position: relative;
        background: url("../images/linea_separacionM.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 87%;
        height: 5px;
        top: 13%;
        left: 10%;
      }

      .content-tasks {
        position: absolute;
        width: 92%;
        top: 22%;
        left: 3%;
        height: 80%;
        padding: 0px 0px 4% 4%;

        .tasks-tabs {
          background: url("../images/task-tab.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;

          ion-item{
            background: transparent;
            border-color: transparent;
            padding: 3px;

            .item-tab {
              background: url("../images/task-item-tab.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              padding: 2%;
              font-weight: bold;
              cursor: pointer;
              color: $primary;
              font-size: 27px;
              font-family: FontMoi-Title;
              span{
                padding-left: 20px;
              }
              img{
                vertical-align: sub
              }
              .counter-badget {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: $tertiary;
                border: 2px solid $secondary;
                font-size: 17px;
              }
            }
            .tab-selected {
              background: url("../images/task-item-tab-selected.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }
        }

        .tasks-view {
          background: url("../images/task-view.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          position: relative;
          .overflow-scroll {
            overflow-y: visible;
          }

          .content_tasks::-webkit-scrollbar-track {
            border-radius: 10px;
            border: 1px solid $scroll-color;
            width: 5px;
          }
          .content_tasks::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
            border-radius: 10px;
          }
          .content_tasks::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-color: $scroll-color;
          }

          .content_tasks {
            padding: 10px;
            .scroll{
              display: flex;
              flex-wrap: wrap;
            }
            .content{
              position: relative;
              .content-kind-contents {
                border-radius: 10px;
                color: $secondary;

                img {
                  object-fit: cover;
                  width: 100%;
                  height: 135px;
                  border-radius: 10px;

                  &.format-image {
                    box-shadow: 2px 5px 2px 1px;
                    transition: 0.5s opacity;
                    opacity: 1;
                  }
                }

                .leyend-bottom {
                  font-family: fantasy;
                  border-bottom-right-radius: 10px;
                  border-bottom-left-radius: 10px;
                  line-height: 22px;
                  height: 45px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }
            }

            .remove-task {
              background: url("../images/btn_delete_content.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              width: 30px;
              height: 30px;
              position: absolute;
              right: 5px;
              top: 0px;
              cursor: pointer;
            }

            .row-notification {
              width: 100%;
            }

            .note {
              position: relative;
              background: url("../images/note_content.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              margin: 5px;
              color: $primary;
              font-size: 20px;
              font-family: FontMoi-Title;
              height: 140px;
              .text-title {
                font-weight: bold;
              }
              .text-notes {
                width: 100%;
                padding: 10px;
                overflow: hidden;
                height: 111px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .tasks-loading-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      pointer-events: none;
    }

    .tasks-loading-overlay-content {
      z-index: -1;
    }
  }
}

@media (max-height: 585px) {
  .tasks {
    .panel-tasks {
      .frame-container {
        .content-tasks {
          .tasks-tabs {
            ion-item{
              .item-tab{
                padding: 1%;
              }
            }
          }
        }
      }
    }
  }
}
