@import "shared/colors";

.login-view {
  @include background-size(contain);
  background-image: url(/images/login/bg.png);
  background-color: transparent; // move to main.scss if needed in other views

  form {
    padding-top: 4em;
    padding-bottom: 4em;
    max-width: 480px !important;
    background-position: center;
    background-repeat: no-repeat;

    .login-title {
      @include background-size(contain);
      background-image: url(/images/login/title.png);
      background-repeat: no-repeat;
      color: $darkBrown;
      font-weight: bold;
      height: 50px;
      padding: 15px 5px 0 20px;
      font-size: 17px;
      width: 130px;
      text-align: center;
      text-shadow: 0 1px rgba(255,255,255,.3);
    }

    .button-actions {
      padding-top: 0;

      .col {
        padding-top: 0;
        margin-bottom: 0;
      }
    }

    .list {
      margin-top: 0;
      margin-bottom: 0;
    }

    .list, label {
      background-color: transparent;
      border: 0;
    }
  }
}
