@import "shared/colors";

.button-login {
  width: 140px;
  height: 50px;
}
.button-translate {
  width: 140px;
  height: 50px;
}
.login-view{
  background-image: url(../images/view-elements/frame-login.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  form{
    right: 200px;
    top: 15%;
    width: 440px;

    @media (max-width: 560px) {
      top: 16%;
    }
    @media (max-height: 510px) {
      top: 17%;
    }
  }
  .legend-browser {
    color: white;
    text-decoration: none;
    position: relative;
    left: 400px;
    top: 650px;
    font-family: museo;
    font-size: 20px;
    height: 20px;
    font-weight: bold;
  }
}
