.login-view.new_login {
  form {
    bottom: 410px;
    right: 190px;
  }
}
.title-grid-images{
  color: #fef9bf;
  font-size: 14px;
  font-weight: bold;
  font-family: FontMoi-Title;
}
.grid-images {
  flex-wrap: wrap;
  padding: 0;

  .col {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      cursor: pointer;
      display: flex;
      filter: brightness(1.9) grayscale(0.5) opacity(0.8);
      &:hover {
        filter: brightness(1.2) grayscale(.5) opacity(.9);
      }
    }
    .selected {
      filter: none;
    }
    span {
      color: #fef9bf;
      font-size: 10px;
      font-weight: bold;
      font-family: FontMoi-Title;
    }
  }
}
