.skip-button {
  position: absolute;
  bottom: 5%;
  right: 2%;
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #4A4B21;;
  background:  #e9c477;
  font-weight: bold;
  font-size: 25px;
  font-family: FontMoi-Title;
  border-radius: 10px;
}
