.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        h1#title Resultado
        .points
          p#content Respondiste {{vmTest.successAnswers}} de {{vmTest.totalQuestions}} preguntas correctamente
