ion-view.frame-basic(view-title='{{vm.neuron.title}}')
  ion-content
    .frame#test-frame
      .frame-container
        moi-sound(ng-if="!vmTest.testComplete" sound="sounds/test.mp3" background-sound="true")
        div(ng-if="!vmTest.hideTest")
          .widgets(ng-if="!vmTest.testComplete")
            .progress-bar
              .internal-bar(style="width: {{vmTest.percentage}}%")
              span {{vmTest.percentage}}%
            .player
              h3.text-center Jugador: {{vmTest.playerName}}
          .partial(ng-if="!vmTest.testComplete" ng-include="'templates/partials/test-questions.html'")
        .complete-test(ng-if="vmTest.testComplete" ng-include="'templates/quiz/quiz-complete.html'")
