.quiz-score
  .frame-container
    .main-content
      .player
        h3.name JUGADOR: {{vmTest.playerName}}
      .result.col
        h1#title Resultado
        .points
          p#summary Respondiste {{vmTest.successAnswers}} de {{vmTest.totalQuestions}} preguntas correctamente
      .answers
        ul
          li(ng-repeat="answer in ::vmTest.answersQuiz")
            | {{answer.question}} {{answer.correct ? '✓' : 'x'}}
      .btn
        .btn-score.button(ng-click="::model.closeModal()"
                            ui-sref="tree") Ir al Árbol
