body > .application {
  @include background-size(cover);

  background-image: url(/images/landscape_b.png);
  background-position: center;
  background-repeat: no-repeat;

  & > ion-view {
    width: 1280px;
    margin: auto;
  }
}
