body {
  & > .application {
    @include background-size(cover);

    background-image: url(../images/landscape_b.png);
    background-position: center;
    background-repeat: no-repeat;

    & > ion-view {
      width: 1280px;
      margin: auto;
    }
  }

  .bar-header{
    display: none;
  }

}

.flecha-sidebar {
  left: 2px;
  cursor: pointer;
  position: absolute;
  top: 44%;
  z-index: 1;
  height: 50px;
  img {
    height: 100%;
  }
}

.sidebar-menu {

  & > div {
    cursor: pointer;
    position: absolute;
    & > img {
      width: 100%;
    }
  }

  .settings-amigos {
    top: 75px;
    left: 25px;
    width: 140px;
  }

  .settings-rueda {
    top: 120px;
    width: 70px;
    left: 47px;
  }

  .settings-tutor {
    width: 85px;
    top: 130px;
    left: 82px;
  }

  .settings-inventario {
    width: 100px;
    top: 185px;
    left: 30px;
  }

  .flecha-sidebar {
    left: 210px;
    top: 46%;
  }

  background-image: url(../images/deslizah.png);
  background-size: cover;
  height: 100%;
}
//override custom drawer
drawer {
  width: 275px !important;
}
