body {
  & > .application {
    @include background-size(cover);

    background-image: url(../images/landscape_b.png);
    background-position: center;
    background-repeat: no-repeat;

    & > ion-view {
      width: 1280px;
      margin: auto;
    }
  }

  .bar-header{
    display: none;
  }

}

.sidebar-menu {
  background-image: url(../images/deslizah.png);
  background-size: cover;

  .settings-menu{
    height: 400px;
    background: none;
  }

  .tree-menu{
    height: 400px;
    background: none;
  }

  .settings-menu > a, .tree-menu > a {
    background: none;
  }
}
