@import "shared/colors";

// override default drawer
drawer {
  width: 275px;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background-color: transparent;
  box-shadow: none;
}

.flecha-sidebar {
  left: 2px;
  cursor: pointer;
  position: absolute;
  top: 44%;
  z-index: 1;
  height: 50px;
  img {
    height: 100%;
  }
}

.sidebar-menu {
  background-image: url(../images/view-elements/deslizah.png);
  background-size: 100% 100%;
  height: 100%;

  & > div {
    position: absolute;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .settings-btns {
    position: absolute;
    width: 75%;
    top: 12%;
    left: 5%;

    .settings-btn {
      display: flex;
      align-items: center;
      background-image: url(../images/sidebar/boton_menu_dep.png);
      background-size: 100% 100%;
      height: 50px;
      margin-bottom: 10px;
      padding: 0 20px;
      cursor: pointer;

      .icon {
        width: 25px;
        height: 25px;
      }

      .text {
        margin-left: 10px;
        color: $secondary;
        font-family: FontMoi-Content;
        font-weight: bold;
      }
    }
  }

  .flecha-sidebar {
    left: 210px;
    top: 46%;
  }

  .settings-arbol, .settings-img-background {
    bottom: 5.5%;
    width: 15rem;
    height: 24.375rem;
    background-image: url("../images/back-arbol.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .tree{
      object-fit: cover;
    }
  }
  .view-tree{
    z-index: -1;
    width: 15rem;
    height: 25.375rem;
    .tree{
      width: 16rem;
      height: 100%;
    }
  }
  .settings-img-background{
    background: transparent;
    left: 20px;
    border-radius: 30%;
    bottom: 9%;
    height: 37%;
  }
}

@media (min-height: 400px) {
  .sidebar-menu {

    .settings-arbol, .settings-img-background {
      bottom: 2.5%;
    }
  }

  .flecha-sidebar {
    top: 44%;
    height: 35px;
  }
}

@media (min-height: 600px) {
  .sidebar-menu {

    .settings-arbol, .settings-img-background {
      bottom: 1.5%;
    }
  }

  .flecha-sidebar {
    top: 45%;
    height: 40px;
  }
}

@media (min-height: 700px) {
  .sidebar-menu {

    .settings-arbol, .settings-img-background {
      bottom: 2%;
    }
  }

  .flecha-sidebar {
    top: 45%;
    height: 40px;
  }
}

@media (min-height: 800px) {
  .sidebar-menu {

    .settings-arbol, .settings-img-background {
      bottom: 3.5%;
    }
  }

  .view-tree {
    width: 15.0rem;
    height: 19.375rem;
  }
}
