// override default drawer
drawer {
  width: 275px;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background-color: transparent;
  box-shadow: none;
}

.flecha-sidebar {
  left: 2px;
  cursor: pointer;
  position: absolute;
  top: 44%;
  z-index: 1;
  height: 50px;
  img {
    height: 100%;
  }
}

.sidebar-menu {
  background-image: url(../images/deslizah.png);
  background-size: cover;
  height: 100%;

  & > div {
    cursor: pointer;
    position: absolute;
    & > img {
      width: 100%;
      height: 100%;
    }
  }

  .settings-amigos {
    top: 75px;
    left: 25px;
    width: 140px;
  }

  .settings-rueda {
    top: 120px;
    width: 70px;
    left: 47px;
    z-index: 10;
  }

  .settings-tutor {
    width: 85px;
    top: 130px;
    left: 82px;
  }

  .settings-inventario {
    width: 100px;
    top: 185px;
    left: 30px;
  }

  .flecha-sidebar {
    left: 210px;
    top: 46%;
  }

  .settings-arbol {
    top: 399px;
    width: 210px;
    height: 280px;
    left: 15px;
  }
}
