ion-side-menus(enable-menu-with-back-views="true")
  ion-pane(ion-side-menu-content='')
    ion-nav-bar.bar-stable
      ion-nav-back-button.button-clear
        i.icon.ion-chevron-left
    ion-nav-view(name='menuContent', animation='slide-left-right')

  ion-side-menu.sidebar-menu(side='left')
    ion-content.has-header
      ion-list
        ion-item.settings-menu(nav-clear='', menu-close='', ui-sref='app.settings')
        ion-item.tree-menu(nav-clear='', menu-close='', ui-sref='app.tree')
