ion-side-menus
  ion-pane(ion-side-menu-content='')
    ion-nav-bar.bar-stable
      ion-nav-back-button.button-clear
        i.icon.ion-chevron-left
    ion-nav-view(name='menuContent', animation='slide-left-right')

  ion-side-menu(side='left')
    header.bar.bar-header.bar-stable
      h1.title {{ 'menu' | translate }}
    ion-content.has-header
      ion-list
        ion-item(nav-clear='', menu-close='', href='#/menu/dash')
          | {{ 'menu.neurons' | translate }}
        ion-item(nav-clear='', menu-close='', href='#/menu/account')
          | {{ 'menu.account' | translate }}
