.text-notes(ng-click='notificationsModel.goToChat(notification)')
  .text-title Chat con: {{notification.chat.chat_with}}
    div(ng-if="notification.chat.type !== 'system'")
      {{notification.chat.message}}

