ion-view.frame-without-back-button.neuron-view(view-title='{{vmNeuron.neuron.title}}')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame.main-view
      .frame-container.content-view
        grid-contents(options="vmNeuron.contentsOptions")
      .btns-options
        //- .btn-learn-container(ng-if="!vmNeuron.neuron.can_read")
        //-   .btn-learn(ng-click="vmNeuron.showCanReadModal()")
        .btn-learn-gif
          animate-sprite(options="vmNeuron.learnOptions")
        .btn-search-gif
          animate-sprite(options="vmNeuron.searchOptions")
  moi-sidebar
