ion-view.neuron-view(view-title='{{vm.neuron.title}}')
  ion-content
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .main-view
      .content-view
        grid-contents(contents="vm.neuron.contents"
                      settings="vm.contentsPreferences")
      .btns-options
        .btn-learn(ng-click="vm.read()")
  moi-sidebar
