ion-view.frame-without-back-button.neuron-view(view-title='{{vmNeuron.neuron.title}}')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame-background
    .frame.main-view
      .frame-container.content-view
        grid-contents(options="vmNeuron.contentsOptions")
      .btns-options
        .btn-learn(ng-if="!vmNeuron.neuron.can_read" ng-click="vmNeuron.showCanReadModal()")
        .btn-learn-gif(ng-if="vmNeuron.neuron.can_read" ng-class="{disabled: !vmNeuron.gifLearnActive}")
          animate-sprite(options="vmNeuron.learnOptions")
        .btn-search-gif
          animate-sprite(options="vmNeuron.searchOptions")
        .btn-share-gif
          animate-sprite(options="vmNeuron.shareOptions")
  moi-sidebar
