ion-view.frame-all-buttons.tasks(view-title='Tasks')
  ion-content
    back-button.arrow.back-arrow
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame.panel-tasks
      .frame-container
        .content-title
          | {{ ::'tasks.my_tasks' | translate }}
        .divider-line
        .row.content-tasks
          .col-50.tasks-tabs
            ion-list(no-lines)
              ion-item(ng-repeat="tab in tasksmodel.tabs"
                      ng-click="tasksmodel.changeTab(tab.field)")
                .item-tab(ng-class="{'tab-selected': tab.selected }"
                          ui-sref="{{tab.state}}")
                  img(src="{{tab.image}}")
                  span
                    | {{::tab.name}}
                  .counter-badget(ng-if="tab.field === 'notifications' && tasksmodel.totalNotifications")
                    | {{tasksmodel.totalNotifications}}
          .col-50.tasks-view
            ui-view
      moi-buttons(options="tasksmodel.buttonsOptions")
      .btn-learn
  moi-sidebar
