ion-content.content_tasks
  .col.col-50.content(ng-repeat='content in contentFavoritesModel.contents')
    .content-kind-contents(ui-sref="content({neuronId: content.neuron_id, contentId: content.id})")
      img.format-image(ng-src='{{content.media[0]}}')
      .leyend-bottom(ellipsis-title='', height='45', title='content.title')
  ion-infinite-scroll(ng-if='!contentFavoritesModel.noMoreItemsAvailable', on-infinite='contentFavoritesModel.loadMoreFavorites()', distance='10%')
