.btns-slide {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;

  .btn-next-slide {
    cursor: pointer;
    right: 0;
    position: absolute;
  }

  .btn-previous-slide {
    cursor: pointer;
    left: 0;
    position: absolute;
  }
}

.slide-gallery {
  width: 95%;
  z-index: 1;
  height: 100px;

  .row-container-images {
    height: 95%;
    .col {
      background-image: url(../images/img_galeria_max.png);
      background-repeat: no-repeat;
      background-size: 70px 75px;

      img {
        -webkit-mask-image: url(../images/img_galeria_max.png);
        mask-image: url(../images/img_galeria_max.png);
        -webkit-mask-size: 90%;
        mask-size: 90%;
        -webkit-mask-position: center center;
        mask-position: center center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
      }
    }
  }

  .slider {
    height: 20%;
  }

  .item-side {
    width: 33%;
    border-bottom: 3px solid #088A08;
    border-left: 3px solid #088A08;
  }

  .format-image-gallery {
    width: 65px;
    height: 65px;
    object-fit: cover;
  }

  .slider-pager{
    bottom: 0px;

    .slider-pager-page{
      color: #FFFFFF;
    }
  }
}
