@font-face {
  font-family: FontMoi-Title;
  src: URL("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: FontMoi-Content;
  src: URL("../fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: FontMoi-Grid;
  src: URL("../fonts/Montserrat-Regular.otf");
}
