@font-face {
  font-family: FontMoi-Title;
  src: URL("../fonts/museo.woff");
}

@font-face {
  font-family: FontMoi-Content;
  src: URL("../fonts/FuturaLT.ttf");
}

@font-face {
  font-family: FontMoi-Grid;
  src: URL("../fonts/museo-900-italic.otf");
}
