.moi-frame-user-image
  img.user-image(ng-src="{{frameVm.options.image || 'images/placeholder_profile.png'}}")
  .frame-user-image
  span.level
    | {{frameVm.userLevel}}
  span.name
    | {{frameVm.options.username}}

