ion-view.frame-basic(view-title='{{vm.neuron.title}}')
  ion-content
    .frame#test-frame
      .frame-container
        moi-sound(sound="sounds/test.mp3" background-sound="true")
        div(ng-if="!vmTest.hideTest")
          .widgets
            .progress-bar
              .internal-bar(style="width: {{vmTest.percentage}}%")
              span {{vmTest.percentage}}%
          div(ng-include="'templates/test/form.html'")
  
