ion-view.neuron-view(view-title='{{vm.neuron.title}}')
  ion-content
    .main-view#test-frame
      .content-view
        moi-sound(sound="sounds/test.mp3" auto-play="true")
        div(ng-if="!vmTest.hideTest")
          .widgets
            .progress-bar
              .internal-bar(style="width: {{vmTest.percentage}}%")
              span {{vmTest.percentage}}%
          div(ng-include="'templates/test/form.html'")
  
