.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#title {{ 'modal_launch_test.title' | translate }} {{model.contentsLearnt}} {{ 'modal_launch_test.title_next' | translate }}.
          h2#content {{ 'modal_launch_test.content' | translate }}
      .pista.col
    .controls-score
      span.btn-score.button.button-translate(ng-click="model.closeModal()"
                            ui-sref="test({ testId: model.testId, testData: model} )") {{ 'modal_launch_test.next' | translate }}
