.modal.modal-unread.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#content {{::model.message}}
      .pista.col
    .controls-score
      span.btn-score.button.button-right(ng-if="model.labels.btnRight"
                                        ng-class="{'extend-button': model.labels.btnRight.length < 7}"
                                        ng-click="model.callbacks.btnRight()")
        | {{::model.labels.btnRight}}
      span.btn-score.button.button-center(ng-if="model.labels.btnCenter" ng-click="model.callbacks.btnCenter()")
        | {{::model.labels.btnCenter}}
      span.btn-score.button.button-left(ng-if="model.labels.btnLeft" ng-click="model.callbacks.btnLeft()")
        | {{::model.labels.btnLeft}}
