.modal.modal-unread.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#content Aún tienes algunos conceptos previos que debes superar.
      .pista.col
    .controls-score
      span.btn-score.button.button-left(ng-click="model.closeModal()") Seguir leyendo
      span.btn-score.button.button-right(ng-click="model.goToMyTree()") Regresar a mi arbol
