.modal.transparent
  ion-pane.transparent
    .modal-share-social
      .btn-close-modal(ng-click="::model.closeModal()")
      .social-network-panel
        a.btn-facebook(ng-click="model.shareWithFacebook(model.data)")
        a.btn-twitter(ng-click="model.shareWithTwitter(model.data)")
        a.btn-mail(ng-click="model.shareWithMail(model.data)")
      .description-panel
        h2 {{ ::'social.title' | translate}}
        | {{ ::'social.description' | translate}}
