.modal.transparent
  ion-pane.transparent
    moi-sound(ng-if="model.successAnswers > 1"
              sound="sounds/congratulations_sound.mp3"
              auto-play="true",
              only-play="true")
    .score-container.row
      .main-image.col
        moi-frame-user.user-frame(options="model.user")
      .col-50
        h1#title | {{ 'modal_score.title' | translate }}
        .points
          p#content {{ 'modal_score.content' | translate }} {{model.successAnswers}} {{ 'modal_score.content_next' | translate }} {{model.totalQuestions}} {{ 'modal_score.content_end' | translate }}
      .col
    .controls-score
      span.btn-score.button(ng-click="model.onClick()")
        | {{ 'modal_launch_test.next' | translate }}
