.modal-notification-join
  .notification-container
    .logo-app
      img(src="images/moi-logo.png")
    .options
      .btn-play
        span Jugar
      .btn-parents-tutors
        span Padres/Tutores
