.modal.transparent
  ion-pane.transparent
    .modal-event-list
      .btn-close-modal(ng-click="::model.closeModal()")
      h3.title
        | {{ ::'tasks.events.subtitle' | translate }}
        | ({{::model.title | translate }})
      .event-list(ng-if="model.hasEvents")
        .event(ng-class="{disabled: !event.is_available}"
              ng-repeat='event in model.events track by $index'
              ng-click="model.showEventDetails($index, model.events)")
          img.event-image(style="background-image: url('{{event.image}}')")
          h4.event-title
            | {{::event.title}}
          span.event-description
            | {{::event.description}}
      .placeholder(ng-if="!model.hasEvents")
        | {{ ::'tasks.events.hasEvents' | translate}}

