.modal.transparent.modal-tutor-achievement
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(ng-src="{{model.user.avatar || model.user.image || 'images/user.png'}}")
      .col-50.column-details
        h1#title {{ 'modal_tutor.title' | translate }}
        .points
          p.content-details
            | {{ 'modal_tutor.content' | translate }} {{model.tutorAuthors}}.
            | {{ 'modal_tutor.content_next' | translate }} {{model.achievements}}!
            | {{ 'modal_tutor.content_middle' | translate }} {{model.tutorAuthorNames}}
            | {{ 'modal_tutor.content_end' | translate }} {{model.achievementNames}}.
      .col
    .controls
      .btn-score.button(ng-click="model.closeModal()") OK
