.modal.transparent
  ion-pane.transparent
    .modal-share-social
      .btn-close-modal(ng-click="::model.closeModal()")
      .social-network-panel
        img(src="images/btn_fb.png")
        img(src="images/btn_tw.png")
        img(src="images/btn_ws.png")
        img(src="images/btn_mail.png")
      .description-panel
        h2 Show and tell your friends!
        | Show your progress on your Facebook timeline or any social media you like, although you can share via mail. Spread the good news!
