.modal.transparent
  ion-pane.transparent
    .modal-certificate
      .btn-close-modal(ng-click="::model.closeModal()")
      .background-certificate
        .title
          img(src="images/diploma/title.png")
        .container
          .info-user
            .table
              .row
                | José Sanchez
              .row
                .column.space-btwn
                  | 18
                  span
                    | edad
                .column.space-btwn
                  | Chile
                  span
                    | pais
              .row
                .column
                  | Unidad Educativa José Domingo Santistevan
                  span
                    | escuela
            .tree-preview
              img.marco(src="images/view-elements/marco.png")
              img(ng-src="{{model.data.tree_image}}")
          img(src="images/diploma/niños.png")
          .report-user
            .chart
            .grade
              | 100 contenidos aprendidos
            .advance
              span
                | 80% crecimiento arbol
              span
                | 75% ultimo test
              .time
                img(src="images/diploma/tiempo-8.png")
                | 1:25
                span
                  | tiempo de lectura promedio
          span.website-info
            | Para más información, visite growmoi.com
