.modal.transparent
  ion-pane.transparent
    .modal-certificate
      .btn-close-modal(ng-click="::model.closeModal()")
      .background-certificate
        .title
          img(src="images/diploma/title.png")
        .container
          .info-user
            .table
              .row
                | {{::model.user.name}}
              .row
                .column.space-btwn
                  | {{::model.user.age}}
                  span
                    | edad
                .column.space-btwn
                  | {{::model.user.country}}
                  span
                    | pais
              .row
                .column
                  | {{::model.user.school}}
                  span
                    | escuela
            .tree-preview
              img.marco(src="images/view-elements/marco.png")
              img(ng-src="{{model.user.tree_image}}")
          img(src="images/diploma/niños.png")
          .report-user
            .chart
            .grade
              | {{::model.totalContentsLearnt}} contenidos aprendidos
            .advance
              span
                | {{::model.progressTree}}% crecimiento arbol
              span
                | {{::model.resultFinalTest}}% ultimo test
              .time
                img(src="images/diploma/tiempo-8.png")
                | {{::model.timeOfReading}}
                span
                  | tiempo de lectura promedio
          span.website-info
            | Para más información, visite growmoi.com
