.modal.modal-unread.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#content {{::model.message}}
      .pista.col
    .controls-score
      div(ng-if="model.type === 'confirm'")
        span.btn-score.button.button-left(ng-click="model.closeModal()")
          | {{::model.btnOkLabel}}
        span.btn-score.button.button-right(ng-click="model.modalCallbak()")
          | {{::model.btnCancelLabel}}
      div(ng-if="model.type === 'alert'")
        span.btn-score.button.button-center(ng-click="model.closeModal()")
          | {{::model.btnOkLabel}}
