.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#title Congratulations {{model.name}}!
          h2#content Answer 21 questions to receive your results & reward
      .pista.col
    .controls-score
      span.btn-score.button.button-right(ng-click="model.createFinalTest()") OK
      span.btn-score.button.button-left(ng-click="model.closeModal()") Cancelar
