.modal.transparent
  ion-pane.transparent
    .modal-leaderboard
      .btn-close-modal-leaderboard(ng-click="model.close()")
      .leaderboard-tabs(ng-if="!model.fromEvent")
        .empty-tab
        .tab(ng-repeat="tab in model.configTabs.list"
            ng-class="{'selected': tab.selected }"
            ng-click="model.configTabs.changeTab(tab.field)")
            | {{tab.name}}
        .empty-tab
      .content-leaderboard(ng-class="{'without-current-user': model.hideFooter}")
        .filters-container(ng-if="!model.fromEvent")
          moi-dropdown(options="model.dropdownOpts")
        .infinite-scroll(infinite-scroll='model.nextPage()', infinite-scroll-container="'.content-leaderboard'", infinite-scroll-disabled='model.noMoreItemsAvailable')
          .user-item.row(ng-repeat="user in model.leaders track by $index"
                        ng-class="{'user-selected': user.user_id === model.user.user_id}"
                        tooltips tooltip-template="{{ 'tooltip.perfil' | translate }}")
            .user-position.content-center.col-10
              | {{$index+1}}.
            .user-description.row.col-90.user-leader(ng-click="model.goToUser(user)")
              .content-center.col-10
                img.lenin.user-image(ng-src="{{user.user_image || 'images/perfilM.png'}}")
              .content-center.col-40.user-name-container.user-leaderboard
                span.user-name
                  | {{user.username}}
                span.time
                  | {{user.time_elapsed | milliseconds}}
              .content-center.col-25
                | {{user.contents_learnt}}/{{model.total_contents}}
              .content-center.achievements-col.col-25
                | {{user.super_event_achievements_count}}/{{model.total_super_event_achievements}}
      .user-item-container(ng-if="!model.hideFooter && model.user")
        .user-item.row
          img(src="images/3puntoM.png")
        .user-item.current-user.row
          .user-position.content-center.col-10
            | {{model.user.position}}.
          .user-description.row.col-90
            .content-center.col-10
              img.user-image(ng-src="{{model.user.user_image || 'images/perfilM.png'}}")
            .content-center.col-25
              .user-name-container
                span.user-name
                  | {{model.user.username}}
            .content-center.col-20
              | {{model.user.contents_learnt}}/{{model.total_contents}}
            .content-center.time-elapsed-col
                | {{model.user.time_elapsed | milliseconds}}
              .content-center.achievements-col(ng-if="model.fromEvent")
                | {{model.user.super_event_achievements_count}}/{{model.total_super_event_achievements}}
