.modal.transparent
  ion-pane.transparent
    .modal-leaderboard
      .btn-close-modal-leaderboard(ng-click="::model.closeModal()")
      .content-leaderboard(ng-class="{'without-current-user': model.hideFooter}")
        .user-item.row(ng-repeat="user in model.leaders track by $index"
                      ng-class="{'user-selected': user.name === model.user.name}")
          .user-position.content-center.col-10
            | {{$index+1}}.
          .user-description.row.col-90
            .content-center.col-10
              img.user-image(src="images/perfilM.png")
            .content-center.col-50
              | {{user.name}}
            .content-center.col-25
              | {{user.current_contents_learnt}}/{{user.total_contents}}
            .content-center.col-15
              | {{user.time_elapsed | milliseconds}}
      .user-item.row(ng-if="!model.hideFooter")
        img(src="images/3puntoM.png")
      .user-item.current-user.row(ng-if="!model.hideFooter")
        .user-position.content-center.col-10
          | {{model.user.position}}.
        .user-description.row.col-90
          .content-center.col-10
            img.user-image(src="images/perfilM.png")
          .content-center.col-50
            | {{model.user.name}}
          .content-center.col-25
            | {{model.user.current_contents_learnt}}/{{model.user.total_contents}}
          .content-center.col-15
            | {{model.user.time_elapsed | milliseconds}}
