.modal.transparent.modal-tutor-achievement
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50.column-details
        h1#title Achievement
        .points
          p.content-details
            | Congratulations! You completed all your recommended contents {{model.tutorAuthors}}.
            | You just won  {{model.achievements}}!
            | We sent a notification of your achievement to {{model.tutorAuthorNames}}
            | so he/she gives you your reward {{model.achievementNames}}.
      .col
    .controls
      .btn-score.button(ng-click="model.closeModal()") OK
