.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(ng-src="{{model.user.avatar || model.user.image || 'images/user.png'}}")
      .col-50
        .text-container
          h2#title {{ 'modal_end_test.title' | translate }} {{model.user.name}}!
          h2#content {{ 'modal_end_test.content' | translate }}
      .pista.col
    .controls-score
      span.btn-score.button.button-right(ng-click="model.createFinalTest()") {{ 'modal_end_test.ok' | translate }}
      span.btn-score.button.button-left(ng-click="model.onCloseModal()") {{ 'modal_end_test.cancel' | translate }}
