.modal.transparent
  ion-pane.transparent
    .modal-event-details
      .btn-close-modal(ng-click="::model.closeModal()")
      .event-content
        h2.event-title
          | {{::model.data.title}}
        span.event-description
          | {{::model.data.description}}
        img.event-image(ng-src="{{::model.data.image}}")
        .neurons-list
          .neuron(ng-repeat='neuron in model.data.neurons')
            span.neuron-title
              | {{::neuron.title}}
            img.neuron-image(ng-src="{{::neuron.image}}")
