.modal.transparent
  ion-pane.transparent
    .modal-event-details
      .btn-close-modal(ng-click="::model.closeModal()")
      .event-content
        h2.event-title
          | {{::model.data.title}}
        img.event-image(ng-src="{{::model.data.image}}")
        span.event-description
          | {{::model.data.description}}
        .join-event(ng-class="{disabled: !model.data.is_available}"
                    ng-click="model.joinEvent(model.data)")
          | {{ ::'tasks.events.join' | translate}}
        .neurons-list
          .neuron(ng-repeat='content in model.data.contents')
            span.neuron-title
              | {{::content.neuron}}
            img.neuron-image(ng-src="{{::content.image}}")

