.modal.transparent
  ion-pane.transparent
    .modal-notification
      .btn-close-modal-notification(ng-click="model.closeModal()")
      .notification-description
        .title {{ 'titles.title' | translate }}
        .info
          | Gracias por subir una respuesta. Lamentablemente, no cumplió con los requisitos mínimos para ser aprobada. Por favor vuelve al tema, revisa sus contenidos y la consigna y sube una nueva respuesta.
        .title {{ 'titles.description' | translate }}
        .info {{ model.data.message }}
        .title.suggestion
          | Para subir otra, vuelve al tema
          .link(ng-click="model.callbacks.redirectContent(model.data)")
            | aqui.
