.modal.transparent
  ion-pane.transparent
    .score-container.row
      .main-image.col
        img(src="images/user.png")
      .col-50
        .text-container
          h2#title You have read {{model.contentsLearnt}} content.
          h2#content Why do not we try if you have really learned?
      .pista.col
    .controls-score
      span.btn-score.button(ng-click="model.closeModal()"
                            ui-sref="test({ testId: model.testId, testData: model} )") Continuar
