ion-list(no-lines)
  ion-item(ng-repeat="award in vmProfile.awards"
          ng-if="award.category==='content_all' || award.category==='test'")
    .item-award
      span(ng-if="award.category==='content_all'")
        | {{award.label}}: {{award.meta.current_contents_learnt}}/{{award.meta.total_contents}}
      span(ng-if="award.category==='test'")
        | {{award.label}}: {{award.meta.current_tests_ok}}/{{award.meta.needs_tests_ok}}
      span.btn-view-table(ng-click="vmProfile.showLeaderboard()")
        | Ver tabla