.content-view-max{
  a {
      color: $tiltesColor;
      text-decoration: none;
  }
  .row-content-title{
      height: 150px;
      .content-title{
        color: $tiltesColor;
        font-size: 50px;
        font-weight: bold;;
        margin-bottom: 30px;
        margin-top: 15px;
        margin-left: 20px;
        font-family: FontMoi-Title;
        width: 100%;
        line-height: 50px;
        overflow: auto;
        word-break: break-word;
      }
  }
  .content-subtitle{
    color: $tiltesColor;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }
  .content-subtitle-gallery{
    color: $tiltesColor;
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }
  .row-content-text{
      max-height: 400px;
      .content-text{
        color: $tiltesColor;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 5px;
        font-family: FontMoi-Content;
        line-height: 30px;
        overflow: auto;
        width: 100%;
        word-break: break-word;
        text-align: justify;
      }
  }
  .content-comments {
    color: $tiltesColor;
    font-family: FontMoi-Content;
    font-weight: 700;
    height: 12em;
    width: 100%;
    padding: 5px 0px;
    resize: vertical;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(../images/notebook.png);
    margin-left: 12px;
    margin-right: 12px;
  }
  .text-notes{
    margin-bottom: 15px;
  }
  .format-image{
    height: 240px;
    width: 100%;
    box-shadow: 2px 5px 2px 1px $tiltesColor;
  }
  .format-image-gallery{
    height: 60px;
    width: 100%;
    box-shadow: 2px 1px 2px 1px $tiltesColor;
    object-fit: cover;
  }
  .content-scroll{
    overflow: auto;
  }
  .content-kind-contents{
    img {
      object-fit: cover;
      width: 100%;
      height: 90px;
    }
  }
}
