.content-view-max {
  color: $titlesColor;
  a, textarea {
    color: $titlesColor;
  }

  &.violeta {
    color: $violeta;
    a, textarea {
      color: $violeta;
    }
  }
  &.azul{
    color: $azul;
    a, textarea {
      color: $azul;
    }
  }
  &.rojo{
    color: $rojo;
    a, textarea {
      color: $rojo;
    }
  }
  &.amarillo{
    color: $amarillo;
    a, textarea {
      color: $amarillo;
    }
  }
  &.verde{
    color: $verde;
    a, textarea {
      color: $verde;
    }
  }

  .frame-container {
    position: absolute;
    width: 95%;
    height: 84%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
  }

  .flecha-sidebar {
    top: 45%;
  }

  .arrow {
    top: 3%;
    left: 35px;
  }

  a {
    text-decoration: none;
  }

  .overflow-scroll{
    overflow-y: visible;
  }

  .col{
    width: 33%;
  }

  .first-col-content{
    display: flex;
    flex-flow: column;
  }

  .row-content-title {
    display: table;
    .content-title {
      font-weight: bold;;
      font-family: FontMoi-Title;
      margin-left: 35px;
      line-height: 50px;
      text-indent: 60px;
      width: 340px;
      font-size: 40px;
      white-space: normal;
      display: inline-block;
    }
    .corner{
      display: inline-block;
      position: absolute;
    }
    .favorite{
      position: relative;
      width: 25px;
      height: 25px;
      margin-bottom: -10px;
      margin-left: 40px;
    }
  }

  .content-subtitle {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }

  .content-subtitle-gallery {
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }

  .row-content-text {
    .content-text {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 5px;
      font-family: FontMoi-Content;
      line-height: 30px;
      overflow: auto;
      margin-right: -18px;
      padding-right: 20px;
      width: 100%;
      text-align: justify;
      white-space: pre-wrap;
    }
    .content-source{
      text-decoration: underline;
      font-size: 14px;
      margin-top: 10px;
    }
    .content-update {
      display: flex;
      font-size: 14px;
      .legend-update {
        font-style: italic;
      }
    }
  }

  .content-text::-webkit-scrollbar-track, .content-comments::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid $linesColor;
    width: 5px;
  }
  .content-text::-webkit-scrollbar, .content-comments::-webkit-scrollbar  {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
  }
  .content-text::-webkit-scrollbar-thumb, .content-comments::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: $linesColor;
  }

  .content-comments {
    font-family: FontMoi-Content;
    font-weight: 700;
    width: 100%;
    padding: 5px 0px;
    resize: vertical;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(../images/notebook.png);
    margin-left: 12px;
    margin-right: 12px;
    &.violeta {
      background: url(../images/themes/violeta/notebook.png);
    }
    &.azul{
      background: url(../images/themes/azul/notebook.png);
    }
    &.rojo{
      background: url(../images/themes/rojo/notebook.png);
    }
    &.amarillo{
      background: url(../images/themes/amarillo/notebook.png);
    }
    &.verde{
      background: url(../images/themes/verde/notebook.png);
    }
  }

  .text-notes {
    margin-bottom: 15px;
  }

  .format-image {
    height: 240px;
    width: 100%;
    box-shadow: 2px 5px 2px 1px;
    transition: 0.5s opacity;
    opacity: 1;

    &.enter {
      opacity: 1;
    }

    &.leave {
      opacity: 0;
    }
  }

  .format-image-gallery {
    height: 60px;
    width: 100%;
    box-shadow: 2px 1px 2px 1px;
    object-fit: cover;
  }

  .content-scroll {
    overflow: auto;
  }

  .content-kind-contents {
    img {
      object-fit: cover;
      width: 100%;
      height: 90px;
    }
  }

  .col-contents {
    display: flex;
    flex-direction: column;
    .row {
      flex-grow: 1;
      flex-basis: 0;
      .col {
        display: flex;
        flex-direction: column;
        .text-notes {
          flex-grow: 0.1;
          flex-basis: 0;
        }
        .container-comments {
          flex-grow: 1;
          flex-basis: 0;
        }
      }
    }
  }
}
