.content-view-max {
  a {
    color: $titlesColor;
    text-decoration: none;
  }
  .arrow{
    top: 3%;
    left: 35px;
  }
  .overflow-scroll{
    overflow-y: visible;
  }
  .col{
    width: 33%;
  }
  .first-col-content{
    display: flex;
    flex-flow: column;
  }
  .row-content-title {
    display: table;
    .content-title {
      color: $titlesColor;
      font-weight: bold;;
      font-family: FontMoi-Title;
      margin-left: 35px;
      line-height: 50px;
      text-indent: 60px;
      width: 340px;
      font-size: 40px;
      white-space: normal;
      display: inline-block;
    }
    .corner{
      display: inline-block;
      position: absolute;
    }
  }

  .content-subtitle {
    color: $titlesColor;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }

  .content-subtitle-gallery {
    color: $titlesColor;
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: FontMoi-Title;
    width: 100%;
  }

  .row-content-text {
    .content-text {
      color: $titlesColor;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 5px;
      font-family: FontMoi-Content;
      line-height: 30px;
      overflow: auto;
      margin-right: -18px;
      padding-right: 20px;
      width: 100%;
      text-align: justify;
    }
    .content-source{
      text-decoration: underline;
      font-size: 14px;
      margin-top: 10px;
    }
    .content-text::-webkit-scrollbar-track {
      border-radius: 10px;
      border: 1px solid $linesColor;
      width: 5px;
    }
    .content-text::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
      border-radius: 10px;
    }
    .content-text::-webkit-scrollbar-thumb {
      border-radius: 25px;
      background-color: $linesColor;
    }
  }

  .content-comments {
    color: $titlesColor;
    font-family: FontMoi-Content;
    font-weight: 700;
    height: 12em;
    width: 100%;
    padding: 5px 0px;
    resize: vertical;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(../images/notebook.png);
    margin-left: 12px;
    margin-right: 12px;
  }

  .text-notes {
    margin-bottom: 15px;
  }

  .format-image {
    height: 240px;
    width: 100%;
    box-shadow: 2px 5px 2px 1px $titlesColor;
  }

  .format-image-gallery {
    height: 60px;
    width: 100%;
    box-shadow: 2px 1px 2px 1px $titlesColor;
    object-fit: cover;
  }

  .content-scroll {
    overflow: auto;
  }

  .content-kind-contents {
    img {
      object-fit: cover;
      width: 100%;
      height: 90px;
    }
  }
}
