@font-face {
  font-family: FontMoi-Title;
  src: URL("../fonts/museo.woff");
}

@font-face {
  font-family: FontMoi-Content;
  src: URL("../fonts/futura-normal.ttf");
}

.content-title{
  color: #7ECE56;
  font-size: 50px;
  font-weight: bold;;
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: 20px;
  font-family: FontMoi-Title;
  width: 100%;
  line-height: 50px;
}

.content-subtitle{
  color: #7ECE56;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: FontMoi-Title;
  width: 100%;
}

.content-subtitle-gallery{
  color: #7ECE56;
  font-size: 35px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 5px;
  font-family: FontMoi-Title;
  width: 100%;
}

.content-text{
  color: #7ECE56;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: FontMoi-Content;
  line-height: 30px;
  width: 100%;
}

.content-comments {
  color: #7ECE56;
  font-family: FontMoi-Content;
  font-weight: 700;
  height: 15em;
  width: 100%;
  padding: 5px 0px;
  resize: vertical;
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
  border-radius: 0;
  background: url(../images/notebook.png);
  margin-left: 12px;
  margin-right: 12px;
}

.text-notes{
  margin-bottom: 15px;
}

.format-image{
  height: 100%;
  width: 100%;
  box-shadow: 2px 1px 2px 1px #7ECE56;
}

.format-image-gallery{
  height: 60px;
  width: 100%;
  box-shadow: 2px 1px 2px 1px #7ECE56;
  object-fit: cover;
}

.content-scroll{
  overflow: auto;
}
