.content-view-max{
  background-color: rgba(0, 0, 0, 0.48);

  .flecha-sidebar {
    top: 45%;
  }
  .main-content-view {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(../images/marco-max-content.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .content-max-view {
    width: 95%;
    height: 84%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
  }

  //Lines-separate
  .middle-column-margin-bottom{
      margin-bottom: 1%;
  }
  .border-bottom{
    border-bottom: 1px solid $linesColor;
    margin-bottom: 20px;
  }
  .border-left{
    border-left: 1px solid $linesColor;
  }
  .border-right{
    border-right: 1px solid $linesColor;
  }

  //image-corner
  .corner {
    background: url(../images/corner.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 28px;
  }

  //image-corner-circle-position
  //title
  .title-TR {
    margin-top: -16px;
    margin-right: -30px;
  }
  //description
  .description-TL {
    margin-top: -31px;
  }
  .description-TR {
    margin-top: -31px;
    margin-right: -30px;
  }
  //image-center
  .image-TR {
    margin-top: -16px;
    margin-right: -35px;
  }
  .image-center{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
  }
  //gallery
  .gallery-TR {
    margin-top: 15px;
    margin-left: -15px;
  }  //recomended
  .recomended-TR {
    margin-top: 10px;
    margin-left: -15px;
  }
  .recomended-margin-top{
    margin-top: -25px;
  }
  //links
  .links-TR {
    margin-top: 24px;
    margin-left: -15px;
  }
  .links-margin-top{
    margin-top: -10px;
  }
}
