.content-view-max {
  background-color: rgba(0, 0, 0, 0.48);
  // background-color: rgba(255, 255, 255, 0.1);

  .back-arrow {
    .arrow-img {
      bottom: 31%;
      left: 15%;
    }
  }

  //Lines-separate
  .middle-column-margin-bottom {
    margin-bottom: 1%;
  }

  .border-bottom {
    border-bottom: 1px solid #B5A88F;
    margin-bottom: 20px;
  }

  .border-left {
    border-left: 1px solid #B5A88F;
  }

  .border-right {
    border-right: 1px solid #B5A88F;
  }

  .image-center {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
    height: 100%;
    width: 50%;
    background-image: url(../images/image-frame-content-max.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    img {
      -webkit-mask-image: url(../images/image-mask-content-max.png);
      mask-image: url(../images/image-mask-content-max.png);
      -webkit-mask-size: 97% 96%;
      mask-size: 97% 96%;
      -webkit-mask-position: center center;
      mask-position: center center;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }
  }

  .recomended-margin-top {
    margin-top: -25px;

    .recommended-contents {
      flex-wrap: wrap;
      height: 180px;
      padding-bottom: 0;
      background-image: url(../images/recomendations-box-content-max.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .col {
        .content-kind-contents {
          background-image: url(../images/img_galeria_max.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: 130px;
          height: 80px;

          img {
            -webkit-mask-image: url(../images/img_galeria_max.png);
            mask-image: url(../images/img_galeria_max.png);
            -webkit-mask-size: 93% 93%;
            mask-size: 93% 93%;
            -webkit-mask-position: center center;
            mask-position: center center;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
          }
        }
      }
    }
  }

  .links-margin-top {
    margin-top: -20px;

    a {
      word-break: break-all;
      cursor: pointer;
      font-weight: bold;
      color: #666665;
    }
  }
}
