ion-view.frame-all-buttons.content-view-max(view-title='Content')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true" volume="0.2")
    back-button.arrow.back-arrow
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame
      .row.frame-container
        .col.first-col-content
          .row.border-bottom.row-content-title
            .content-title
              {{:: vmContent.content.title}}
              img.favorite(ng-if="vmContent.content.favorite" src="images/estrellita.png")
            .corner.title-TR
          .row.row-content-text
            .corner.description-TL
            .content-text
              {{vmContent.content.description}}
              .content-source
                {{vmContent.content.source}}
            .corner.description-TR
        .col.border-right.border-left.middle-column-margin-bottom.col-contents
          .row.border-bottom
            .col.image-center
              img.format-image(src='{{vmContent.content.media[0]}}', ng-click='vmContent.showImage(vmContent.content.media[0])')
            .corner.image-TR
          .row
            .col
              .row.text-notes
                .content-subtitle {{ ::'content.max.coments' | translate }}
              .row.container-comments
                textarea.content-comments(ng-model='vmContent.content.user_notes', ng-blur='vmContent.sendNotes()')
        .col
          .row
            .col
              .row.border-bottom
                .content-subtitle-gallery {{ ::'content.max.media' | translate }}
              .row
                slide-gallery(images='vmContent.media', options="vmContent.slideGalleryOptions" item-per-slide='4')
            .corner.gallery-TR
          .row
            .col.recomended-margin-top
              .row.border-bottom
                .content-subtitle {{ ::'content.max.recommended ' | translate }}
              .row.recommended-contents
                .col.col-50(ng-repeat='content in vmContent.content.recommended')
                  .content-kind-contents(ui-sref="content({neuronId: content.neuron_id, contentId: content.id})")
                   img.format-image(ng-src='{{content.media[0]}}')
                   .leyend-bottom(ellipsis-title='', height='50', title='content.title')
            .corner.recomended-TR
          .row
            .col.links-margin-top
              .row.border-bottom
                .content-subtitle {{ ::'content.max.links ' | translate }}
              .row(ng-repeat="link in vmContent.content.links")
                a(ng-click="vmContent.showAlertExternalLink(link)") {{::link}}
            .corner.links-TR
      moi-buttons(options="vmContent.buttonsOptions")
  moi-sidebar
