ion-view(view-title='Content')
  .content-frame
    .row.content-max
      .col
        .row.content
          h2 {{vm.content.title}}
        .row.content
          h2 {{vm.content.description}}
      .col
        .row.content
          .col
            img.format-image(src='{{vm.content.media_url}}', alt='')
        .row.content
          .col
            .row
              h4 Coments
            .row
              textarea.content-comments(ng-model='vm.content.user_notes', ng-blur='vm.sendNotes()')
      .col
        .row.content
          .col
            .row
              h4 Media
            .row
              .col
                img.format-image(src='images/asteroide_contra_tierra.jpg', alt='', ng-click='vm.showImage()')
              .col
                img.format-image(src='images/leon.jpg', alt='')
              .col
                img.format-image(src='images/lluvia_meteoros.jpg', alt='')
              .col
                img.format-image(src='images/neurona_en_crecimiento.jpg', alt='')
        .row.content
          .col
            .row
              h4 Recommended 
            .row
              .col
                img.format-image(src='images/asteroide_contra_tierra.jpg', alt='')
              .col
                img.format-image(src='images/leon.jpg', alt='')
            .row
              .col
                img.format-image(src='images/lluvia_meteoros.jpg', alt='')
              .col
                img.format-image(src='images/neurona_en_crecimiento.jpg', alt='')
        .row.content
          .col
            .row
              h4 Links 
            .row
              a(ng-href='http://{{vm.content.source}}' target='_blank') {{vm.content.source}}
