ion-view.frame-all-buttons.inventory-section(view-title='Inventario')
  ion-content
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame
      .frame-container.main-view
        .inventory-wrapper
          .inventory-sign
            span.sign {{ ::'titles.items' | translate }}
          .inventory-grid
            .tabs-grid
            .gridWrapper
              .cell(ng-repeat="cell in vmInv.medalsByTab track by $index")
                img(src="images/inventory/medals/medal1.png")
      moi-buttons(options="vmInv.buttonsOptions")
  moi-sidebar
