ion-view.frame-all-buttons.inventory-section(view-title='Inventario')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true")
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame
      .frame-container.main-view
        .inventory-wrapper
          .inventory-sign
            span.sign {{ ::'titles.items' | translate }}
          .inventory-grid
            .tabs-grid
            .squares
      moi-buttons(options="vm.buttonsOptions")
  moi-sidebar
