/* Empty. Add your own CSS if you like */
a {
  display: block;
}
.app-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../images/landscape_b.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &::after{
    content: "";
    background-image: url(../images/marco.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
  }
}

.tree-content{
  position: relative;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  z-index: 1;
  .flowerpot{
    position: relative;
    &-img{
      width: 450px;
    }
  }
  .tree{
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    .tree-img {
      position: relative;
      bottom: 160px;
      img {
        width: 100%;
      }
      .tronco-root{
        position: absolute;
        left: 0px;
      }
    }

    .tree-neuron-root{
      position: relative;
      width: 80px;
      height: 80px;
      left: 190px;
      bottom: 340px;
      img{
        width: 80px;
      }
      &.third-level {
        width: 80px;
        height: 80px;
        left: 190px;
        bottom: 440px;
      }
      &.florecida{
        background-image: url(../images/tree/nodos/nodo-amarillo.png);
      }
    }
  }
}

.neuron {
  width: 80px;
  height: 80px;
  background-image: url(../images/tree/nodos/nodo-gris.png);
  background-size: cover;
  a {
    width: 100%;
    height: 100%;
  }
}

.clouds-container {
  .cloud {
    right: 0px;
    width: 100%;
    text-align: right;
    position: absolute;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    &:nth-child(1) {
      top: 115px;
      -webkit-animation-duration: 40s;
    }

    &:nth-child(2) {
      top: 130px;
      -webkit-animation-duration: 50s;

      text-align: left;
    }

    &:nth-child(3) {
      top: 190px;
      -webkit-animation-duration: 55s;
    }
  }

  .tree-second-level {
    .tree-neuron {
      &-0 {
        position: absolute;
        right: 100px;
      }
    }
  }
}
