/* Empty. Add your own CSS if you like */
a {
  display: block;
}
.app-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../images/landscape_b.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &::after{
    content: "";
    background-image: url(../images/marco.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
  }
}

.tree-content{
  position: relative;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  z-index: 1;
  .flowerpot{
    position: relative;
    &-img{
      width: 450px;
    }
  }
  .tree{
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    .tree-img {
      position: relative;
      bottom: 160px;
      img {
        width: 100%;
      }
    }

    &.third-level{

      .neuron {
        width: 60px;
        height: 60px;
        img{
          width: 60px;
        }
      }

      .tree-img {
        bottom: 270px;
        right: 140px;
        img {
          height: 500px;
          width: auto;
        }
      }

      .tree-neuron-root{
        position: relative;
        left: 190px;
        bottom: 440px;
      }

      .second-level {
        &-0 {
          bottom: 620px;
          left: 80px;
        }
        &-1 {
          bottom: 670px;
          left: 160px;
        }
        &-2 {
          bottom: 740px;
          left: 240px;
        }
        &-3 {
          bottom: 780px;
          left: 310px;
        }
      }

      .third-level {
        &-0 {
          bottom: 60px;
          left: -110px;
        }
        &-2 {
          bottom: 140px;
          left: -60px;
        }
        &-3 {
          bottom: 200px;
          left: 0;
        }
        &-4 {
          bottom: 130px;
          left: 50px;
        }
        &-6 {
          bottom: 130px;
          left: 180px;
        }
        &-7 {
          bottom: 110px;
          left: 190px;
        }
      }

    }

    &.fourth-level{

      .neuron {
        width: 50px;
        height: 50px;
        img{
          width: 50px;
        }
      }

      .tree-img {
        bottom: 380px;
        right: 300px;
        img {
          height: 600px;
          width: auto;
        }
      }

      .tree-neuron-root{
        position: relative;
        left: 190px;
        bottom: 525px;
      }

      .second-level {
        &-0 {
          bottom: 670px;
          left: 110px;
        }
        &-1 {
          bottom: 720px;
          left: 175px;
        }
        &-2 {
          bottom: 770px;
          left: 225px;
        }
        &-3 {
          bottom: 810px;
          left: 290px;
        }
      }

      .third-level {
        &-0 {
          bottom: 70px;
          left: -60px;
        }
        &-2 {
          bottom: 110px;
          left: -60px;
        }
        &-3 {
          bottom: 160px;
          left: 0;
        }
        &-4 {
          bottom: 100px;
          left: 20px;
        }
        &-6 {
          bottom: 120px;
          left: 50px;
        }
        &-7 {
          bottom: 110px;
          left: 110px;
        }
      }

      .fourth-level {
        &-0 {
          bottom: 70px;
          left: -50px;
        }
        &-1 {
          bottom: 110px;
          left: -110px;
        }
        &-2 {
          bottom: 195px;
          left: -150px;
        }
        &-4 {
          bottom: 95px;
          left: -50px;
        }
        &-5 {
          bottom: 200px;
          left: -20px;
        }
        &-6 {
          bottom: 210px;
          left: 20px;
        }
        &-10 {
          bottom: 105px;
          left: 40px;
        }
        &-11 {
          bottom: 170px;
          left: 90px;
        }
        &-8 {
          bottom: 170px;
          left: 60px;
        }
        &-9 {
          bottom: 180px;
          left: 90px;
        }
        &-12 {
          bottom: 120px;
          left: 60px;
        }
        &-13 {
          bottom: 120px;
          left: 60px;
        }
        &-18 {
          bottom: 120px;
          left: 60px;
        }
        &-19 {
          bottom: 120px;
          left: 60px;
        }
        &-20 {
          bottom: 250px;
          left: 120px;
        }
        &-21 {
          bottom: 220px;
          left: 140px;
        }
        &-22 {
          bottom: 300px;
          left: 190px;
        }
      }

    }

    .tree-neuron-root{
      position: relative;
      width: 80px;
      height: 80px;
      left: 190px;
      bottom: 340px;
      img{
        width: 80px;
      }
      &.third-level {
        width: 80px;
        height: 80px;
        left: 190px;
        bottom: 440px;
      }
      &.florecida{
        background-image: url(../images/tree/nodos/nodo-amarillo.png);
      }
    }
  }
}

.neuron {
  width: 80px;
  height: 80px;
  background-image: url(../images/tree/nodos/nodo-gris.png);
  background-size: cover;
  a {
    width: 100%;
    height: 100%;
  }
}

.clouds-container {
  .cloud {
    right: 0px;
    width: 100%;
    text-align: right;
    position: absolute;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    &:nth-child(1) {
      top: 115px;
      -webkit-animation-duration: 40s;
    }

    &:nth-child(2) {
      top: 130px;
      -webkit-animation-duration: 50s;

      text-align: left;
    }

    &:nth-child(3) {
      top: 190px;
      -webkit-animation-duration: 55s;
    }
  }

  .tree-second-level {
    .tree-neuron {
      &-0 {
        position: absolute;
        right: 100px;
      }
    }
  }
}
