/* Empty. Add your own CSS if you like */
.app-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url(../images/landscape_b.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &::after{
    content: "";
    background-image: url(../images/marco.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
  }
}

.tree-content{
  position: relative;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  z-index: 1;
  .flowerpot{
    position: relative;
    &-img{
      width: 450px;
    }
  }
  .tree{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    .tree-img {
      position: absolute;
      bottom: -80px;
      left: 0;
      right: 0;
    }
    .tree-neuron{
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      canvas{
        width: 80px;
      }
    }
  }
}
