ion-content.content_tasks
  .row.note(ng-repeat='notification in notificationsModel.notifications')
    .text-notes(ng-if='notification.tutor'
                ng-click='notificationsModel.confirmRequest(notification)')
      | {{notification.tutor.name}} ha realizado una solicitud para ser tu tutor
    .text-notes(ng-if='!notification.tutor'
                ng-click='notificationsModel.showNotification(notification)')
      | {{notification.title}} <br>
      | {{notification.description}}
  ion-infinite-scroll(ng-if='!notificationsModel.noMoreItemsAvailable'
                      on-infinite='notificationsModel.loadMoreNotifications()'
                      distance='10%')
