<ion-view view-title="Login">
  <ion-content class="padding">

    <div class="row responsive-sm row-center padding-top">
      <div class="col-center col-50 col-offset-25">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="loginForm.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="loginForm.password">
          </label>
        </div>
        <div class="list">
          <button class="button button-block button-calm" ng-click="login()">Login</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
